* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active a {
  color: #828181 !important;
}
.page {
  font-family: Times New Toman;
  flex-wrap: wrap;
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.section ul {
  list-style-type: none;
}

.large_section {
  height: 450px;
}
.containImage {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.centered h1 {
  font-size: 8vw;
  font-family: Vladimir Script;
}
.centered h2 {
  font-size: 3.5vw;
  color: #c9bbbb;
}
.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.box {
  margin: 10px;
  margin-top: 50px;
  width: 300px;
}
.box img {
  border: 2px solid #333;
  height: 150px;
  width: 300px;
  object-fit: cover;
}
.box .image {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.info {
  background: #E16767;
  color: #000;
  padding: 10px 30px;
  height: 80px;
  margin: auto;
}
.box p {
  font-size: 2vw;
  color: white;
  bottom: 10%;
  right: 60%;
}
.small_box {
  width: 50%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34252F !important;
  font-family: Times New Roman !important;
  font-size: 3.5vw !important;
}
a:visited,
a:link{
  color: #a6a6a6;
}
a:hover,
a:active{
  color: grey;
}
#portrait {
  width: 100%;
}


@media (min-width: 48em) {
  #portrait {
    width: 40%;
    float: left;
    margin: 20px;
  }
  .section {
    height: 100px;
  }
  .large_section {
    height: 300px;
  }
  .photo img {
    max-height: 500px;
    object-fit: cover;
  }
  .box {
    width: 33.3%;
  }
  .small_box {
    width: 20% !important;
  }
}
